
1.3a/.DS_Store
.DS_Store
sysops_works.code-workspace
4.3/z4
4.1/z4s
4.1/z4
3.3/z3
3.3/z3-3
3.2/z3
3.1/z3
2.1/.vscode/launch.json
*.json
5.1/z5
5.2/jjp_lib.c
5.2/jjp_lib.h
5.2/Makefile
5.2/master.c
5.2/script.sh
5.2/slave.c
5.2/z5-m
5.2/z5-s
